@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
  --primary: #548A50;
  --tabBackground: #EAEAEA;
  --buttonBackground: #D9D9D9;
  --text: #495353;
  --pageBackground: #F6F5EE;
  --error: #d30407;
  --error-transparent: rgba(211, 4, 7, 0.35)
}

body {
  background-color: var(--pageBackground);
  color: var(--text);
  font-family: "Inter", sans-serif;
}

.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
  border-radius: 20px !important;
  overflow: hidden !important;
}

.leaflet-control-attribution {
  display: none !important;
}